<li class="nav-item ">
    <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Doctors
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create Doctors</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Doctor" class="nav-link">

                <i class="far fa-circle nav-icon"></i>
                <p>Manage Doctors</p>
            </a>
        </li>
    </ul>
</li>