<footer class="main-footer">
    <strong>Copyright &copy; 2022-@DateTime.Now.ToString("yyyy") <a href="">H M S</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
    </div>
</footer>